<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <p>{{ header }}</p>
  <body>
    <img src="data:image/png;base64,{{ new_data }}" alt="" height="600" ,width="600">
  </body>
  <body>
    <img src="data:image/png;base64,{{ fast_data }}" alt="" height="600" ,width="600">
  </body>
  <body>
    <img src="data:image/png;base64,{{ exact_data }}" alt="" height="600" ,width="600">
  </body>
  <body>
    <img src="data:image/png;base64,{{ data }}" alt="" height="600" ,width="600">
  </body>
</html>
